<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>HexHax</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
    <link rel="icon" href="static/pictures/logo.png">
  </head>
  <body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- cover everything until everything is loaded -->
    <div id="cover">
      
            <div class="cssload-container centered">
              <ul class="cssload-flex-container">
                <li>
                  <span class="cssload-loading cssload-one"></span>
                  <span class="cssload-loading cssload-two"></span>
                  <span class="cssload-loading-center"></span>
                </li>
                </ul>
              </div>
            
    </div>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://d3js.org/d3.v5.min.js"></script>

    <!-- Needed for interactive map -->
    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.3/leaflet.css'>
    <link rel="stylesheet" href="static/css/sidebar.css">
    <script src="static/js/sidebar.js?rndstr=<%= getRandomStr() %>"></script>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,700&display=swap" rel="stylesheet">
    <link href="static/css/style.css?rndstr=<%= getRandomStr() %>" rel="stylesheet" type="text/css" />
    <link href="static/css/loading.css?rndstr=<%= getRandomStr() %>" rel="stylesheet" type="text/css" />
    <script src="static/js/script.js?rndstr=<%= getRandomStr() %>"></script>
    
	<!--Code for navbar-->
	<nav class="navbar navbar-expand-lg navbar-light sticky-top">
		<a class="navbar-brand anchor-link" href="#" scroll-to="#home-anchor" onclick="resetSidebar();"><img src="static/pictures/biglogo.png" alt="logo" height = "50"></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav mr-auto">
        
			<li class="nav-item ">
				<a class="nav-link anchor-link" scroll-to="#home-anchor" onclick="resetSidebar();"> Home </a>
			</li>
      
      <li class="nav-item">
				<a class="nav-link anchor-link" scroll-to="#purpose-page">Purpose</a>
      </li>
      
			<li class="nav-item">
				<a class="nav-link anchor-link" scroll-to="#process-page">Process</a>
			</li>
			
			<li class="nav-item">
				<a class="nav-link anchor-link" scroll-to="#meet-the-team">Team</a>
			</li>
			</ul>
		<table style="width:15%">
			<tr>
			<center>
				<th>
				<a href="https://twitter.com/HexHax2020" class="fa fa-twitter" target="_blank"></a>
				</th> 
				<th>
				<a href="https://www.facebook.com/HexHax2020/" class="fa fa-facebook" target="_blank"></a>
				</th>
				<th>
				<a href="https://github.com/BachToTheFuture/ProjectHexHax" class="fa fa-github" target="_blank">
				</th>
			</center>
			</tr>
		</table>
		</div>
  </nav>
  
    <div id="home-anchor"></div>
  <!--Short Summary-->
	<div id="sidebar">
		<br>
		<!--This bar gets updated with graphs and the place info whenever a user clicks-->
		<div id="infobar">
			<div class = "veryshortsummary">
        <h2>
          AID PACT
        </h2>
        <h5>Artificial Intelligence Derived Predictive Analysis of COVID-19 over Time</h5>
        <hr>
        <p> Interact with our map to explore the past, current, and predicted impacts of COVID-19 around the world.</p>
        <p><b>Click on a country or a region to learn more about it.</b></p>

        <h3> 
          Our Mission
        </h3>
        <hr>
        <p> We trained our machine learning model by integrating Earth Observation derived features with socioeconomic data in order to predict future COVID-19 cases and unemployment rates. By displaying these results on an interactive map, we aim to make information more accessible to the global public. </p>
			</div>
		</div>
	</div>

  <script src="static/js/covid.js"></script>
  <!-- Display the map -->
  <script>
    process_state_cases(`{{state_covid_cases}}`);
    process_state_deaths(`{{state_covid_deaths}}`);
    process_state_unemployment(`{{state_unemployment}}`);
  </script>

  <div id="mapid"></div>
  <!---
  <script src="static/js/us-states.js"></script>
  <script src="static/js/countries.js"></script>
  -->
	<script src="static/js/map.js?rndstr=<%= getRandomStr() %>"></script>

    <div class = "homeinfo">
      <!--Enter general information for the website and what it does-->
      <center>
      </center>
    </div>

    
	<!-- For graphs -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
  
  <!-- Purpose Page --> 
  <center>
    <h2 class="subpage-title" id="purpose-page"> Our Purpose </h2>
    <img src="static/pictures/purpose.png" alt="Purpose" style="width: 75%">
    <br><br><br>
  </center>
  
  <!-- Process Page -->
  <div class="space">
     &nbsp;
  </div>	  
  <center>
    <h2 class="subpage-title" id="process-page"> Our Process </h2>
    <br><br>
    <img src="static/pictures/process.png" alt="Process" style="width:80%">
    <br><br><br><br><br>

    <h4> Training Factors </h4> <br>
  </center>
    <div class = "trainingfactors">
      <li>
        <strong>Stringency Index:</strong> Each country has a different response to the spread of COVID-19, including closing schools, workplaces, and stores as well as implementing travel bans. The stringency index measures these government responses and ranks the restrictions from 0 to 100, the strictest response being 100. (Source: OurWorldInData.org/coronavirus) 
        <br><br>
      </li>
      
      <li> 
        <strong>Accessibility to Cities:</strong>
          The ability of individuals to access healthcare facilities, educational programs, and financial institutions can be used as an indicator of a the overall socio-economic status a nation's inhabitants. Easy access to cities are represented by a low accessibility score while areas that are difficult to access are represented by a high accessibility score.
        <br><br>
      </li>

      <li>
        <strong>GINI Index:</strong> The GINI coefficient measures the distribution of income. The coefficient values range from 0 (perfect equality) to 1 (perfect inequality). High coefficient values represent greater income inequality, meaning that a small group of individuals receive a large percent of the population's total income, while low coefficient values represent greater income equality, meaning that income is more evenly distributed among a population.
        <br><br>
      </li>

      <li>
        <strong>GDP per capita: </strong> Gross Domestic Product measures value of all goods and services produced by a country. GDP can be used as an indicator of the size of a country's economy and growth rate. GDP per capita divides the country's total economic output by the country's population and can indicate the citizen's standard of living. 
        <br><br>
      </li>

      <li> 
        <strong>Population Density: </strong> Viruses are primarily spread when individuals are in close contact with each other. When people live in densely populated areas, they will to come into contact with each other more frequently, creating more opportunities for a disease to spread. 
        <br><br>
      </li>

       <li><strong> Global Human Modification:</strong> The measure of human modification of demonstrates areas of greater urban development. The concentration of individuals in cities or other highly urbanized regions can accelerate the spread of diseases.
       <br><br>
      </li>

      <li>
        <strong>Unemployment:</strong> After the outbreak of COVID-19 in the United States, the nation experienced a record-breaking surge in unemployment claims due to the economic impacts of the virus spread. To predict future unemployment in the United States, unemployment data was used to train our machine learning model.
        <br><br>
      </li>
      
      <li>
        <strong>COVID-19 Cases, Deaths, and Testing:</strong> In order to predict future COVID-19 cases, data regarding new and total cases per million, new and total deaths per million, and new and total tests per thousand were used to train our machin learning model.
        <br><br>
      </li>

      <li>
        <strong>Population over 65:</strong> Older individuals and individuals with underlying health conditions are more susceptible to COVID-19. Older individuals are also more likely to have underlying health conditions that places them at greater risk. According to the CDC, eight of ten reported deaths have been in adults 65 years or older. Countries with a greater population of older individuals may witness a greater number of cases of COVID-19.
        <br><br>
      </li>

      <li>
        <strong>Hospital Beds per 100k:</strong> Individuals infected with the virus may need to be admitted to hospitals in order to ensure their survival due to symptoms of difficulty breathing and low oxygen levels. A measure of hospital beds per 100k can be used as an indicator of hospital capacity and a country's ability to treat ill individuals once infected with the virus. Ability to treat individuals may lead to greater recovery rates.
        <br><br>
      </li>

      <br><br><br>
    </div>

  <center>
    <div class="tech">
      <h4> Tools and Technology </h4>
      <br>
      <table style="width:50%">
        <tr>
        <center>
          <th>
            <img src = "static/pictures/htmlLogo.png" alt="HTML Logo" style = "width: 45%">
          </th> 
          <th>
            <img src = "static/pictures/csslogo.png" alt="CSS Logo" style = "width: 35%">
          </th>
          <th>
            <img src = "static/pictures/jslogo.png" alt="JS Logo" style = "width: 45%">
          </th>
        </center>
        </tr>
        <tr>
          <th>
            <!-- White Space here -->
          </th>
        </tr>
        <tr>
          <center>
          <th>
            <img src = "static/pictures/earthenginelogo.jpg" alt="Earth Engine Logo" style = "width: 250px">
          </th> 
          <th>
            <img src = "static/pictures/pythonlogo.png" alt="Python Logo" style = "width: 250px">
          </th>
          <th>
            <img src = "static/pictures/replitlogo.svg" alt="replit Logo" style = "width: 230px">
          </th>
        </center>
        </tr>
      </table>
    </div>
    <br>
  </center>

  <!-- Meet the team page -->
	<center>
    <br><br><br><br>
      <h2 class="subpage-title" id="meet-the-team"> Meet the Team! </h2>
      <br>
      <div class="team">
        <div class="member">
            <div class="card">
              <img src="static/pictures/Michelle.jpg" alt="Michelle" style="width:100%">
              <div class="container">
                <h4 class="team-member-name"> <a href="https://www.linkedin.com/in/michelle-a-bryson/" target="_blank"> Michelle <br>Bryson </a> </h4>
                <p class="title">Carnegie Mellon <br>University</p>
                <p>Major: Electrical & Computer Engineering</p><br>
                <!-- <a href="https://www.linkedin.com/in/michelle-a-bryson/" class="fa fa-linkedin" target="_blank"></a> -->
              </div>
            </div>
        </div>

        <div class="member">
          <div class="card">
            <img src="static/pictures/John.jpg" alt="John" style="width:100%">
            <div class="container">
              <h4 class="team-member-name"> <a href="https://www.linkedin.com/in/john-paul-bunn-07b0a6196/" target="_blank"> John Paul <br>Bunn </a> </h4>
              <p class="title">Milwaukee School of <br>Engineering</p>
              <p>Major: Computer Science & Computer Engineering</p><br>
              <!-- <a href="https://www.linkedin.com/in/john-paul-bunn-07b0a6196/" class="fa fa-linkedin" target="_blank"></a> -->
            </div>
          </div>
        </div>

        <div class="member">
          <div class="card">
            <img src="static/pictures/Kevin.jpeg" alt="Kevin" style="width:100%">
            <div class="container">
              <h4 class="team-member-name"> <a href="https://www.linkedin.com/in/kevin-gauld-048b5819b/s" target="_blank"> Kevin<br> Gauld </a> </h4>
              <p class="title">California Institute of <br>Technology</p>
              <p>Major: Electrical Engineering</p><br><br>
              <!-- <a href="https://www.linkedin.com/in/kevin-gauld-048b5819b/s" class="fa fa-linkedin" target="_blank"></a> -->
            </div> 
          </div>
        </div>

        <div class="member">
          <div class="card">
            <img src="static/pictures/Bach.jpg" alt="Bach" style="width:100%">
            <div class="container">
              <h4 class="team-member-name"> <a href="https://www.linkedin.com/in/bach-nguyen-36a6511a7/" target="_blank"> Bach<br> Nguyen </a> </h4>
              <p class="title">Harvard <br>University</p>
              <p>Major: Computer Science & Neuroscience</p><br>
              <!-- <a href="https://www.linkedin.com/in/bach-nguyen-36a6511a7/" class="fa fa-linkedin" target="_blank"></a> -->
            </div>
          </div>
        </div>

        <div class="member">
          <div class="card">
            <img src="static/pictures/Jendy.jpg" alt="Jendy" style="width:100%">
            <div class="container">
              <h4 class="team-member-name"> <a href="https://www.linkedin.com/in/jendy/" target="_blank"> Jendy<br> Ren </a> </h4>
              <p class="title">Stony Brook <br>University</p>
              <p>Major: Computer Science</p><br><br>
              <!-- <a href="https://www.linkedin.com/in/jendy/" class="fa fa-linkedin" target="_blank"></a> -->
            </div>
          </div>
        </div>

        <div class="member">
          <div class="card">
            <img src="static/pictures/Christina.jpg" alt="Christina" style="width:100%">
              <div class="container">
                <h4 class="team-member-name"> <a href="https://www.linkedin.com/in/christina-wong-26baa116b" target="_blank"> Christina <br> Wong </a> </h4>
                <p class="title">Rice <br>University</p>
                <p>Major: Computer Science</p><br><br>
                <!-- <a href="https://www.linkedin.com/in/christina-wong-26baa116b" class="fa fa-linkedin" target="_blank"></a> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </center>
	
    <div class="space">
	&nbsp;
    </div>
	
   <!-- Our Sources -->
   <footer>
      <h2>Sources</h2>
      <h4>
        Dependencies
      </h4>
      <ul>
        <li> <a href="https://leafletjs.com/"> Leaflet</a></li>
        <li> <a href="https://www.openstreetmap.org/#map=5/38.007/-95.844"> OpenStreetMap API</a></li>
        <li> <a href="https://nominatim.org/"> Nominatim API</a></li>
        <li> <a href="https://www.heroku.com/"> Heroku</a></li>
      </ul>
        
      <h4>
        Data
      </h4>
      <ul>
        <li> <a href="https://ourworldindata.org/coronavirus-source-data"> Global COVID-19 Data </a></li>
        <li> <a href="https://usafacts.org/visualizations/coronavirus-covid-19-spread-map/"> US State Specific COVID-19 Data </a></li>
        <li> <a href="https://malariaatlas.org/research-project/accessibility_to_cities/"> Global Accessibility to Cities </li>
        <li> <a href="https://oui.doleta.gov/unemploy/claims.asp"> US State Unemployment Claims </a></li>
        <li> <a href="https://developers.google.com/earth-engine/datasets/catalog/CSP_HM_GlobalHumanModification#description"> Global Human Modification </a> </li>
        <li> <a href="https://developers.google.com/earth-engine/datasets/catalog/NASA_NEX-GDDP"> Climate </a></li>
        <li> <a href="https://data.worldbank.org/indicator/SI.POV.GINI?view=map"> GINI Index</a></li>
        <li> <a href="https://developers.google.com/earth-engine/datasets/catalog/CIESIN_GPWv411_GPW_UNWPP-Adjusted_Population_Density#bands"> Population Density </a></li>
      </ul>
	<div class="space">
	   &nbsp;
	</div>
    </footer>

    
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>
